<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Error!</title>
    </head>
    <body>
        <h3>Either something went wrong, or you failed to enter a valid set of words!</h3>

        <a href="/">Back Home</a>
    </body>
</html>
