<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Application</title>
    </head>
    <body>
        <form id="word-counter" action="/" method="post">
            <label>Enter a Sentence<input type="text" name="sentence-input"></label>
            <label>Enter a Word<input type="text" name="word-input"></label>
            <button type="submit" name="button">Count Words!</button>
        </form>
    </body>
</html>
